@model IEnumerable<WebApplication2022_Core6_6th_RelationalDB.Models2.UserTable2>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexMasterDetails2_Navigation - 無須使用 ViewModel，直接完成</title>
</head>
<body>
    <h3>IndexMasterDetails2_Navigation</h3> - 無須使用 ViewModel，直接完成
    <hr />

</body>
</html>
